/* ------------------------- GENERAL ------------------------- */
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 75%;
    margin-inline: auto;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}


/* ------------------------- HEADER ------------------------- */
header{
    
}


/* ------------------------- MAIN ------------------------- */
main{
    
}


/* ------------------------- FOOTER ------------------------- */
footer{

}